.appointment-page .appointment-section .appointment-form {
  background-color: #ffffff;
  padding: 40px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}
.appointment-page .appointment-section .appointment-form__input-block {
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .appointment-page .appointment-section .appointment-form {
    padding: 20px;
  }
}
.appointment-page .appointment-section .appointment-form .grp-radio {
  height: 50px;
}
@media (min-width: 1200px) {
  .appointment-page .appointment-section::after {
    background-color: #f5f8f9;
    content: "";
    display: block;
    max-width: 1420px;
    position: absolute;
    height: auto;
    border-radius: 20px;
    margin: auto;
    left: 0;
    right: 0;
    bottom: -40px;
    z-index: -1;
    min-height: 400px;
  }
}
@media (max-width: 1399px) and (min-width: 1200px) {
  .appointment-page .appointment-section::after {
    max-width: 1200px;
  }
}
.appointment-page .contact-details-section .contact-details-block {
  padding-top: 40px;
  padding-bottom: 20px;
}
.appointment-page .contact-details-section .contact-details-block .icon-details-box {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  margin-top: -40px;
  position: relative;
  z-index: 1;
}
.appointment-page .contact-details-section .contact-details-block:nth-child(1) .icon-details-box {
  background-color: #EBF9F2;
  color: #3CC47B;
}
.appointment-page .contact-details-section .contact-details-block:nth-child(2) .icon-details-box {
  background-color: #FFF4ED;
  color: #FF8E4B;
}
